.centerLeftMenu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-edit,
.button-edit {
    color: #212529 !important;
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

.button-edit:hover {
    color: #212529 !important;
    background-color: #e0a800 !important;
    border-color: #d39e00 !important;

}